name: CI pipeline 
 
on: 
  push: 
    branches: 
      - main 
  pull_request: 
 
jobs: 
  ci: 
    name: CI pipeline 
    runs-on: arc-runner-set
    environment: test
    steps: 
      - name: Git Checkout 
        uses: actions/checkout@v1 
 
      - name: Set up JDK 21 
        uses: actions/setup-java@v3 
        with: 
          distribution: 'temurin' 
          java-version: '21'
          
      - name: Log in to container registry 
        uses: docker/login-action@v2 
        with: 
         registry: ghcr.io 
         username: ${{ github.actor }} 
         password: ${{ secrets.GITHUB_TOKEN }} 
       
      - name: Build  
        env: 
         PREMIUM_REPO_USER: ${{ secrets.PREMIUM_REPO_USER }} 
         PREMIUM_REPO_PASS: ${{ secrets.PREMIUM_REPO_PASS }} 
        run: ./gradlew -Pvaadin.productionMode=true -Dorg.gradle.jvmargs='-Xms8g -Xmx24g' bootBuildImage -x test --imageName=ghcr.io/syncro/jmix-petclinic-2 --publishImage
